/* Estilos Globais */
// resources/sass/app.scss

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f2f5;
    color: #495057;
}

.navbar {
    padding: 1rem 2rem;
    background-color: #343a40; /* Cor mais escura para o Navbar */
}

.card {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    border: none;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de Tabela */

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%; /* Ajusta a tabela para ocupar toda a largura do contêiner */
    min-width: 1000px; /* Define uma largura mínima */
}

th, td {
    padding: 10px; /* Aumenta o preenchimento para dar mais espaço */
    text-align: left; /* Mantém o texto alinhado à esquerda */
}


.table th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Botão */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo para espaçar os botões */
.table .btn {
    margin-bottom: 0.7rem; /* Espaçamento entre os botões */
}

.card-custom {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


