/* Estilos Globais */
// resources/sass/app.scss

@import "~bootstrap/scss/bootstrap";

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f2f5;
    color: #495057;
}

.navbar {
    padding: 1rem 2rem;
    background-color: #343a40; /* Cor mais escura para o Navbar */
}

.card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    border: none;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de Tabela */
.table {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* Botão */
.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo para espaçar os botões */
.table .btn {
    margin-bottom: 0.5rem; /* Espaçamento entre os botões */
}

